<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>This Cat</h1>
        <p>Name: <%= messages[0].name %></p>
        <p>Name: <%= messages[0].weight %></p>
        <p>Name: <%= messages[0].color %></p>
        <a href="/cats/showEdit/<%= messages[0]._id %>">Edit thit cat</a>
    </body>
</html>