<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ninja</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/style.css" rel="stylesheet">
    </head>
    <body>
        <img src="{{ url_for('static',filename='img/donatello.jpg')}}" alt="">
        <img src="{{ url_for('static',filename='img/leonardo.jpg')}}" alt="">
        <img src="{{ url_for('static',filename='img/michelangelo.jpg')}}" alt="">
        <img src="{{ url_for('static',filename='img/raphael.jpg')}}" alt="">
    </body>
</html>