<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Portfolio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <h1>Hi, I'm Lizhang!</h1>
        <h2>Welcome to My Portfolio</h2>  
        <a href="/projects">Projects</a>      
        <a href="/about">About Me</a>      
        <a href="/testimonials">Testimonials</a>      
    </body>
</html>