<h1>Secrets#index</h1>
<p>Find me in app/views/secrets/index.html.erb</p>

<% @secrets.each do |secret| %>
  <p><%= secret.content %></p>
    <% if current_user == secret.user %>
        <form action="/users/<%= secret.user.id %>/secrets/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Secret">
        </form>
    <% end %>
<% end %>