<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Random Word Generator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <p>Random Word (attempt #{{request.session.count}})</p>
        <p>{{request.session.random_word}}</p>
        <form action="/count" method="post">
            {% csrf_token %}
            <input type="submit" name="" value="Generate">
        </form>
    </body>
</html>