<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p>***<%= error %>***</p>
  <% end %>
<% end %>

<form action="/users" method="post">
    <p>Sign up</p>
    <label for="Name">Name:</label>
    <input type="text" id="Name" name="user[name]">
    <p></p>
    <label for="Email">Email:</label>
    <input type="text" id="Email" name="user[email]">
    <p></p>
    <label for="Password">Password</label>
    <input type="text" name="user[password]" id="Password">
    <p></p>
    <label for="Password_Confirmaiton">Password Comfirmation</label>
    <input type="text" name="user[password_confirmation]" id="Password_Confirmation">
    <p></p>
    <input type="submit" value="Join">
</form>