<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/cats/addNew" method="post">
            <label for="">Name: </label>
            <input type="text" name="name" value="">
            <p></p>
            <label for="">Weight: </label>
            <input type="number" name="weight" value="">
            <p></p>
            <label for="">Color: </label>
            <input type="text" name="color" value="">
            <p></p>
            <input type="submit" name="" value="Add New">
        </form>
    </body>
</html>