*{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 970px;
}
#titleImg{
	width: 100px;
	z-index: 1;
	position: absolute;
}
.firstHeader{
	display: inline-block;
	margin: 40px 0px 0px 100px;
}
.subWrapper{
	background: linear-gradient(#DFDFDF, white, white, white, white, white);
}
.header{
	margin: 0px;
}
.firstHeader h2{
	color: white;
	margin-left: -100px;
	background: linear-gradient(#23568F, #426F9D, #23568F);
	width: 960px;
	padding:10px 0px 10px 10px;
}
.deepBlueFont{
	color: #23568F;
}
.blueFont{
	color: #00859F;
}
.redFont{
	color: red;
}
.boldFont{
	font-weight: bold;
}
.nav, .content{
	display: inline-block;
	vertical-align: top;
}
.nav{
	width: 200px;
	text-align: center;
}
.nav p{
	margin:10px 4px;
	text-align: left;
}
.upperNav{
	padding-bottom: 20px;
	font-weight: bold;
}
button{
	padding: 3px;
	margin: 3px;
	border-radius: 5px;
	width: 180px;
	height: 30px;
}
.blueButton{
	background: linear-gradient(#426F9D, #23568F);
}
.orangeButton{
	background: linear-gradient(#E59539, #E96500);
}
.lowerNav{
	margin-top: 20px;
	padding-top: 20px;
	color: white;
	font-size: 20pt;
	text-align: center;
	width: 200px;
	height: 300px;
	background-image: url("images/ad_background.png");
}
#ninjaImg{
	margin-left: 40px;
	display: block;
	width: 100px;
}
#homeImg{
	width: 20px;
}
.content{
}
#phoneImg{
	width: 50px;
}
#phoneImg{
	margin-left: 500px;
}
#phontImg, .rightBox, #DNS{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-bottom: 5px;
}
#phoneNum{
	color: blue;
	font-size: 20pt;
}
#openTime, #interPhoneNum{
	font-size: 8pt
}
.secondContent{
	width: 760px;
}
.content ul, .content ol {
	padding-left: 50px;
}
.content li{
	margin: 5px;
}
.secondContent p{
	margin-left: 15px;

}
h3{
	margin: 5px 15px;
	color: #23568F;
}
#relationImg{
	position: relative;
	left: 50%;
	margin-left: -150px;
	width: 300px;
}
#htmlImg{
	width: 100px;
}
#htmlImg, .thirdContent div{
	vertical-align: top;
	display: inline-block;
}
.thirdContent div{
	width: 500px;
}
.thirdContent{
	margin-left: 15px;
	margin-top: 20px;
	padding: 10px 30px;

	border: 5px solid blue;
}
