<div id="power_component">
  <p id="title">PowerComponent</p>
  <form
  (submit)=(onSubmit()) 
  #myForm='ngForm'>
    <span>Initial Power Level</span>
    <select name="level" required [(ngModel)]="level">
      <option disabled [ngValue]="undefined">--select--</option> 
      <option *ngFor="let num of dropdown" [ngValue]="num">{{ num }}</option>
    </select>
    <input type="submit" [disabled]="!myForm.valid" value="Calculate Powers">
  </form>
  <app-human class="box" [level]='mylevel'></app-human>
  <app-saiyan class="box" [level]='mylevel'></app-saiyan>
  <app-super-saiyan class="box" [level]='mylevel'></app-super-saiyan>
  <app-super-saiyan-two class="box" [level]='mylevel'></app-super-saiyan-two>
  <app-super-saiyan-three class="box" [level]='mylevel'></app-super-saiyan-three>
  <app-super-saiyan-four class="box" [level]='mylevel'></app-super-saiyan-four>
</div>
