
div {
    padding-top: 50px;
    width: 200px;
    height: 150px;
    background-color: red;
    color: white;
    font-size: 18pt;
    border: 2px solid black;
    margin-bottom: 20px;
}
div p{
    text-align: center;
}
button{
    margin-left: 50px;
}
#box {
    background-color: green;
}
