<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QuotingDojo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to QuotingDojo</h1>
        <form action="/quotes" method="post">
            <label for="">Your name: </label>
            <input type="text" name="name" value="">
            <p></p>
            <label for="">Your quote:</label>
            <textarea name="quote" rows="" cols=""></textarea>
            <p></p>
            <input type="submit" name="" value="Add my quote!">
            <button type=""><a href="/showQuotes">Skip to quotes!</a></button>
        </form>
    </body>
</html>