<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QuotingDojo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Here are the awesome quotes!</h1>
        <div id="messages">
            <% for(let message of messages) { %>
                <h3>Name: <%= message.name %></h3>
                <h3>Message: <%= message.quote %></h3>
                <hr>
            <% } %>
        </div>
    </body>
</html>